<span class="rating-desc">&copy; Copyright 2019
    <span itemprop="name"> {{ company_name | upper }}. ALL RIGHTS RESERVED</span>
    <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"> Rated
        <span itemprop="ratingValue">{{ rating | round }}</span> / 5 based on
        <span itemprop="reviewCount">{{ reviews }}</span> reviews.
    </span>
</span>